<h1>Bienvenue sur le site de garage V.parrot</h1>

<p>
    Confirmez votre inscription avec le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
