{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block content %}
    <ul class='breadcrumbs'>
        <li class='breadcrumb'><a class='breadcrumb' href="./">Accueil ></a></li>
        <li class='breadcrumb'>Message</li>
    </ul>
    <div class='adaptive-container'>
        <div class='adaptive-list'>
            <p class='f-1 t-center'>Un lien de confirmation a été envoyé sur votre e-mail.</p>
        </div>
    </div>
{% endblock %}
